@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 30px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color:#fff359;   
    color:#552583;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.cabecalho {
    font-size: 30px;
    text-align:center;
}
.texto1 {
    margin-top: 5em;
    font-size: 20px;
    height: 1em;
    font-weight: 900;
}
.kobe1 {
    text-align: center;
}
.texto2 {
    height: 2em;
    font-weight: 900;
}
.kobe2 {
    text-align: center;
}
.texto3 {
    height: 1em;
    font-weight: 900;
}
.kobe3 {
    text-align: center;
}
.video1 {
    text-align: center;

}
.texto4 {
    height: 2em;
    font-weight: 900;
}
.texto5 {
    height: 2em;
    font-weight: 900;
}
.kobe4 {
    text-align: center;
}
.texto6 {
    height: 12em;
    font-weight: 900;
}
.video2 {
    text-align: center;
}
.texto7 {
    height: 5em;
    font-weight: 900;
}
.kobe5 {
    text-align: center;
}
.texto-rodape {
    text-align: center;
    font-weight: 900;
}